@media (max-width: 319.98px) {
    *{
        max-height: unset;
    }
    header{
        flex-direction: column;
        padding: 30px 20px
    }

    header nav{
        margin-top: 20px;
    }

    header nav a .box__btn{
        font-size: 0.85rem;
        letter-spacing: 1px;
        padding: 10px 10px;
    }

    section{
        flex-direction: column;
        padding-top: 170px;
        height: auto;
        padding-left: 40px;
        padding-right: 40px;
        min-height: unset;
    }

    section .box__txt h2{
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.3;
    }

    section .box__txt p{
        font-size: 1.1rem;
        text-align: center;
        line-height: 1.2;
        margin-top: 10px;
        letter-spacing: 1.2px;
    }

    section .box__txt .clock{
        flex-direction: column;
        margin: 20px 0px;
        justify-content: center;
        align-items: center;
    }

    section .box__txt .clock .time{
        margin-top: 10px;
        margin-right: 0px;
        font-size: 1.6rem;
        border-radius: 50%;
    }
    section .box__txt .clock .time span{
        font-size: 1rem;
}
section .box__txt a{
    display: flex;
    justify-content: center;
}

section .box__txt a .box__btn{
    font-size: 0.85rem;
    letter-spacing: 1px;
    padding: 10px 10px;
    margin: 0px;
}

section .box__img img{
    width: 290px;
    margin-top: 0px;
    bottom: 35px;
}

footer{
    display: flex;
    justify-content: center;
}

footer .droits{
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

section .wave{
    width: 650px;
}
}