*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

:root {
    --couleur-principale: #032c1e;
    --couleur-secondaire: #388f68;
    --couleur-titre: #EDF2F7;
    --couleur-alt: #718096;
}

body {
    background: var(--couleur-principale);
}

header{
    display: flex;
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 28px;
    text-decoration: none;
    font-weight: 600;
    color: var(--couleur-titre);
}

header .logo .logo__img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

header nav{
    position:relative;
}

header nav a{
    text-decoration: none;
    color: var(--couleur-titre);
    font-size: 25px;
}

header nav a:hover{
    color: var(--couleur-alt);
}

section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    min-height: 100vh;
}

section .box__txt{
    position: relative;
    max-width: 700px;
    z-index: 3;
}

section .box__txt h2 {
    color: var(--couleur-titre);
    font-size: 50px;
    text-transform: uppercase;
}

section .box__txt p{
    font-size: 22px;
    color: var(--couleur-titre);
}

section .box__img img{
    position:relative;
    max-width: 950px;
    height: 100%;
    padding-top:100px;
    z-index: 2;
}

section .box__txt .clock {
    display: flex;
    margin: 10px 0px;
}

section .box__txt .clock .time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--couleur-titre);
    margin-right: 10px;
    font-size: 40px;
    font-weight: 900;
    padding: 15px 2px 10px;
    min-width: 105px;
    border-radius: 12px;
    color: var(--couleur-secondaire);
}

section .box__txt a{
    text-decoration: none;
}

section .box__txt .box__btn{
    display: flex;
    justify-content: center;
    background-color:var(--couleur-secondaire);
    border-radius: 50px;
    max-width: fit-content;
    padding: 15px;
    font-size: 30px;
    color: var(--couleur-titre);
    margin-left: 15px;
}

section .box__txt .box__btn:hover{
    background-color:#0f613c;
}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

footer{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

footer .droits{
    position: absolute;
    bottom: 30px;
    margin: auto 50%;
    z-index: 1000;
    width: 50%;
    color: var(--couleur-titre);
}

footer .droits a{
    text-decoration: none;
    color: var(--couleur-principale);

}

footer .droits a:hover{
    text-decoration: underline;
}

footer .social{
    position:absolute;
    bottom: 30px;
    left: 100px;
    display:flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
    filter: invert(1);
}

footer .social li{
    list-style-type: none;
}

footer .social li a{
    display: block;
    transform: scale(0.8);
    margin-right: 20px;
}